<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css" />
    <style>
        :root {
            --profile-height: 0px;
        }

        body {
            padding: 0;
            margin: 0;
            /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
        }

        .nav_shadow {
            box-shadow: 2px 3px 8px 0px rgb(86, 84, 84);
            background-color: #fff;
            /* position: fixed; */
        }

        .my_profile_shadow {
            box-shadow: 2px 4px 8px 0px rgb(103, 102, 102);
            background-color: white;
        }

        .header ul li a {
            margin-left: 30px;
            color: black;
        }

        .header ul li a:hover,
        .header ul li a.active {
            background-image: linear-gradient(#fff, #008AFF, #fff);
        }

        .profile h5 {
            color: rgb(96, 95, 95);
        }

        .my_recent_shadow {
            box-shadow: 2px 4px 8px 0px rgb(103, 102, 102);
            /* box-shadow: 0px 0px 8px 0px rgb(103, 102, 102) inset; */
            background-color: white;
            height: var(--profile-height);

        }

        ::-webkit-scrollbar {
            display: none;
        }

        .recent_shadow {
            box-shadow: 1px 2px 6px 0px rgb(132, 129, 129);
            padding: 15px;
        }

        .recent_shadow a {
            font-size: 18px;
        }

        .for_fixing_recent {
            overflow-x: hidden;
            overflow-y: scroll;
        }

        .my_third {
            box-shadow: 2px 4px 8px 0px rgb(103, 102, 102);
            /* box-shadow: -2px 4px 8px 0px rgb(103, 102, 102); */
            border-radius: 15px;
            height: var(--profile-height);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-body-tertiary nav_shadow" >
        <div class="container-fluid">
            <a class="navbar-brand">
                <b>Logo</b>
            </a>
            <div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse header" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Catagory</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Transaction</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid row mt-5 justify-content-center">

        <div class="col-md-3 mb-5" id="user_profile">
            <div class="card my_profile_shadow" style="border-radius: 15px;">
                <div class="card-body text-center">
                    <div class="mt-3 mb-4">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                            class="rounded-circle img-fluid" style="width: 100px;" />
                    </div>
                    <h4 class="mb-2">Sahil Makhaniya</h4>
                </div>
                <hr>
                <div class="card-body profile">
                    <h5>Personals</h5>
                    <div class="fs-5 mb-3">
                        <i class="bi bi-envelope-fill  me-2"></i>
                        <a style="color:#b8b6b6">makhaniyasahil24@gmail.com</a><br>
                        <i class="bi bi-telephone-fill  me-2"></i>
                        <a style="color:#b8b6b6">+91 6351608173</a>
                    </div>

                </div>
                <hr>
                <!-- <div class="card-body">

                </div> -->

                <div class="card-body profile">
                    <h5>Status</h5>
                    <div class="fs-5 mb-3">
                        <i class="bi bi-wallet-fill me-2"></i>
                        <a style="color:#b8b6b6">9999999</a><br>
                        <i class="bi bi-currency-rupee  me-2"></i>
                        <a style="color:#b8b6b6">9999999</a><br>
                        <i class="bi bi-bank2  me-2"></i>
                        <a style="color:#b8b6b6">9999999</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-5 mb-5 mx-4">
            <div class="card my_recent_shadow text-center" style="border-radius: 15px; font-family: poppins;"><br>
                <h3>Recents</h3>

                <div class="for_fixing_recent">

                    <div class="card mx-2 my-2 recent_shadow"
                        style="background-image: linear-gradient(to right,#dad8d8,white,#dad8d8);">
                        <div class="row text-center mx-2">
                            <div class="text-center">
                                <a><b>Description:</b></a>
                                <a>Lorem ipsum dolor sitam est ullam architecto saepe!</a>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <a><b>Catagory:</b></a>
                                <a>Lorem ipsum dolor sit</a>
                            </div>
                            <div class="col-auto">
                                <a><b>Date:</b></a>
                                <a style="color: #a2a396 ;">dd-mm-yyyy</a>
                            </div>
                            <div class="col-auto">
                                <a><b>Amount:</b></a>
                                <a style="color: red ;">-9999</a>
                            </div>
                        </div>
                    </div>

                    <div class="card mx-2 my-2 recent_shadow"
                        style="background-image: linear-gradient(to right,#dad8d8,white,#dad8d8);">
                        <div class="row text-center mx-2">
                            <div class="text-center">
                                <a><b>Description:</b></a>
                                <a>Lorem ipsum dolor sitam est ullam architecto saepe!</a>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <a><b>Catagory:</b></a>
                                <a>Lorem ipsum dolor sit</a>
                            </div>
                            <div class="col-auto">
                                <a><b>Date:</b></a>
                                <a>dd-mm-yyyy</a>
                            </div>
                            <div class="col-auto">
                                <a><b>Amount:</b></a>
                                <a style="color: rgb(3, 188, 3) ;">+9999</a>
                            </div>
                        </div>
                    </div>

                    <div class="card mx-2 my-2 recent_shadow"
                        style="background-image: linear-gradient(to right,#dad8d8,white,#dad8d8);">
                        <div class="row text-center mx-2">
                            <div class="text-center">
                                <a><b>Description:</b></a>
                                <a>Lorem ipsum dolor sitam est ullam architecto saepe!</a>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <a><b>Catagory:</b></a>
                                <a>Lorem ipsum dolor sit</a>
                            </div>
                            <div class="col-auto">
                                <a><b>Date:</b></a>
                                <a>dd-mm-yyyy</a>
                            </div>
                            <div class="col-auto">
                                <a><b>Amount:</b></a>
                                <a>-9999</a>
                            </div>
                        </div>
                    </div>

                    <div class="card mx-2 my-2 recent_shadow"
                        style="background-image: linear-gradient(to right,#dad8d8,white,#dad8d8);">
                        <div class="row text-center mx-2">
                            <div class="text-center">
                                <a><b>Description:</b></a>
                                <a>Lorem ipsum dolor sitam est ullam architecto saepe!</a>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <a><b>Catagory:</b></a>
                                <a>Lorem ipsum dolor sit</a>
                            </div>
                            <div class="col-auto">
                                <a><b>Date:</b></a>
                                <a>dd-mm-yyyy</a>
                            </div>
                            <div class="col-auto">
                                <a><b>Amount:</b></a>
                                <a>-9999</a>
                            </div>
                        </div>
                    </div>

                    <div class="card mx-2 my-2 recent_shadow"
                        style="background-image: linear-gradient(to right,#dad8d8,white,#dad8d8);">
                        <div class="row text-center mx-2">
                            <div class="text-center">
                                <a><b>Description:</b></a>
                                <a>Lorem ipsum dolor sitam est ullam architecto saepe!</a>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <a><b>Catagory:</b></a>
                                <a>Lorem ipsum dolor sit</a>
                            </div>
                            <div class="col-auto">
                                <a><b>Date:</b></a>
                                <a>dd-mm-yyyy</a>
                            </div>
                            <div class="col-auto">
                                <a><b>Amount:</b></a>
                                <a>-9999</a>
                            </div>
                        </div>
                    </div>

                    <div class="card mx-2 my-2 recent_shadow"
                        style="background-image: linear-gradient(to right,#dad8d8,white,#dad8d8);">
                        <div class="row text-center mx-2">
                            <div class="text-center">
                                <a><b>Description:</b></a>
                                <a>Lorem ipsum dolor sitam est ullam architecto saepe!</a>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <a><b>Catagory:</b></a>
                                <a>Lorem ipsum dolor sit</a>
                            </div>
                            <div class="col-auto">
                                <a><b>Date:</b></a>
                                <a>dd-mm-yyyy</a>
                            </div>
                            <div class="col-auto">
                                <a><b>Amount:</b></a>
                                <a>-9999</a>
                            </div>
                        </div>
                    </div>

                    <div class="card mx-2 my-2 recent_shadow"
                        style="background-image: linear-gradient(to right,#dad8d8,white,#dad8d8);">
                        <div class="row text-center mx-2">
                            <div class="text-center">
                                <a><b>Description:</b></a>
                                <a>Lorem ipsum dolor sitam est ullam architecto saepe!</a>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <a><b>Catagory:</b></a>
                                <a>Lorem ipsum dolor sit</a>
                            </div>
                            <div class="col-auto">
                                <a><b>Date:</b></a>
                                <a>dd-mm-yyyy</a>
                            </div>
                            <div class="col-auto">
                                <a><b>Amount:</b></a>
                                <a>-9999</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card my_third">
                <h1>Work in Progress</h1>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam mollitia soluta suscipit ipsa
                repudiandae error omnis corrupti velit odio vero eaque aut, veritatis corporis. Assumenda officia
                laborum corporis id et!
            </div>
            <canvas id="pieChart"></canvas>
        </div>

    </div>

    <div class="row container-fluid">
        <h1>About Us...</h1>
    </div>

    <script>
        const profileElementHeight = document.getElementById('user_profile').offsetHeight;
        document.documentElement.style.setProperty('--profile-height', `${profileElementHeight}px`);
    </script>
    <script>
        //pie
        var ctxP = document.getElementById("pieChart").getContext('2d');
        var myPieChart = new Chart(ctxP, {
            type: 'pie',
            data: {
                labels: ["Red", "Green", "Yellow", "Grey", "Dark Grey"],
                datasets: [{
                    data: [300, 50, 100, 40, 120],
                    backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
                    hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
                }]
            },
            options: {
                responsive: true
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
</body>
<script>

</script>

</html>